/* font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif; */
 
body {
    font-family: "Roboto", sans-serif;
    
    color: #434455;
    background-color: #FFFFFF;
}
img {
    display: block;
}

ul,ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*.hero .features .team .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
background: #f4f4fd;
}*/

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.img {
    display: block;
}

.button {
    cursor: pointer;
}

/* #region header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-left: 156px;
}

.nav {
    display: flex;
    align-items: center;
}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-header {
    padding: 24px 0;
    margin-right: 76px;
}
.logo-header-span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px; 
}

.menu-item {
   
}

.menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,.menu-link:focus {
    color: #404bbf;
}

.menu-link.current {
    position: relative; 
    color: #404bbf;
}
.menu-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;

}

.address {
    margin-left: auto;
    font-style: normal;
}

.contacts {
    display: block;
    padding: 24px 0;
    gap: 40px;
    display: flex;
    align-items: center;
}

.contacts-item {}

.contacts-link {
    
    font-size: 16px;
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.contacts-link:hover,.contacts-link:focus {
    color: #404bbf;
}
/* #endregion header */

/* #region Hero */
.hero {
    width: 100%;
    margin: 0 auto;
    padding: 188px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
     url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
 
.hero-container {
    padding-bottom: 0 188px;
}

.hero-title {
    max-width: 496px;
    font-size: 56px; 
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
      margin-bottom: 48px;
}

.hero-btn {

display: block;
margin: 0 auto;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4d5ae5;
cursor: pointer;
border-radius: 4px;
min-width: 169px;
height: 56px;
border: none;
padding: 16px 32px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,.hero-btn:focus {
    color: #fff;
    background: #404bbf;
}
/* #endregion Hero */

/* #region Features */
.features {
    padding-top: 120px;
    padding-bottom: 120px;
}




.features-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

 .features-column {
  width: calc((100% - 72px) / 4);
  min-width: 264px;
    
 }
 
 .features-item-border {
    width: 100%;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    margin-bottom: 8px;
 }

.features-item-icon {
    width: 64px;
    height: 64px;
    fill: #2e2f42;
    justify-content: center;
    align-items: center;
    
}

.features-item {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    margin-bottom: 8px;
    margin-top: 8px;

}

.features-text {
    font-size: 16px;
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion Features */

/* #region Team*/
.team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F4F4FD
}


.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px; 
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    
    margin-top: 72px;
    
}

.team-list-menu {
    border-bottom: 1px solid #e7e9fc;
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);;
    width: calc((100% - 72px) / 4);
    padding-left: 0;
    margin: 0;
}

.under-page-container {
    padding: 32px 0;
}

.team-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    color: #2e2f42;
}

.team-text {
    font-size: 16px;
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.team-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    padding-top: 8px;
    
}
.our-team-item {
    width: 40px;
    max-height: 40px;
    gap: 24px;
    display: flex;
    justify-content: center;
    
}
.our-team-link:hover,.our-team-link:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.our-team-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;  
    background-color: #4d5ae5;
    padding: 12px;
}
.our-team-svg {
    fill: #f4f4fd;
}




/* #endregion Team*/

/* #region portfolio */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px; 
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 48px;
    row-gap: 48px;
    
}

.portfolio-cards {
    display: flex;
    flex-direction: column;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    border-bottom: 1px solid #e7e9fc;
    border-radius: 0px 0px 4px 4px;
    padding-left: 0;
    margin: 0;
    
}

.portfolio-cards:hover .payment-cover-text {
    transform: translateY(0%);

}
.portfolio-cards:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}


.payment-cover-wrap {
    position: relative;
    overflow: hidden;

}

.part-of-portfolio {
    padding: 32px 16px; 
    border: 1px solid #e7e9fc;
    border-top: none;
   
}

.payment-cover-text {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 0.02em;
    line-height: 1.5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #f4f4fd;
    padding: 40px 32px;

}

.portfolio-item {
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion portfolio */

/* #region footer */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.section-footer {
    display: flex;
    align-items: baseline;
}

.container-footer {
    width: 264px;
    margin-right: 120px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block; 
}

.logo-span-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-ps {
    font-size: 16px;
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.social_media {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: baseline;
    
}
.social-media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.footer-social {
    display: flex;
    gap: 16px;
}
.footer-link:hover,.footer-link:focus {
    background-color: #31d0aa;;
}
.footer-link {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    background-color: #4d5ae5;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-svg {
    fill: #f4f4fd;
}
.footer-item {
    width: 40px;
    height: 40px;
}
.subscribe {
    margin-left: 80px;

}
.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.footer-form-subscribe {
    display: flex;
    gap: 24px;
}

.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;

}
.footer-input::placeholder {
    color: #ffffff;
    
}


.footer-button {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
}

.footer-send {
    fill: #fff;
    margin-left: 16px;  
    width: 24px;
    height: 24px;
}


/* #endregion footer */

/* #region backdrop-modal */
.backdrop {
    position: fixed;
    top: 0;
    z-index: 9999999;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    line-height: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: stroke 300ms linear;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: #fff;
    background-color: #404bbf;
    border: none;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-top: 72px;
    margin-bottom: 16px;
}

.form-wrraper-cont {
    margin-bottom: 8px;
}

.modal-form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
    margin-top: 8px;
}

.modal-cont-input {
    position: relative;
}

.modal-input {
    width: 360px;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    transition: border 300ms linear;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border: 1px solid #4d5ae5;

}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-icon {
    fill: #4d5ae5;
}

.form-wrraper-cont-coment {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-top: 8px;
    margin-bottom: 16px;
}


.modal-form-label-coment {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
    margin-top: 8px;
}

.modal-textarea {
    border-radius: 4px;
    width: 360px;
    height: 120px;
    resize: none;
    outline: transparent;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
    border: 1px solid #4d5ae5;
}

.modal-cont-checkbox {
    margin-bottom: 24px;
}

.custom-label-user-checkbox {
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;


}

.custom-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    height: 16px;
    width: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.checkbox:checked+.custom-label-user-checkbox>.custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.privacy-policy {
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-submit {
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* #endregion backdrop-modal */